<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create List</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>

<header th:replace="~{fragments/navbar :: navbar}"></header>

<main>
    <h1>Create a list</h1>

    <form th:action="@{/lists}" method="post">
        <p>
            <label for="title">Title</label><br>
            <input id="title" name="title" type="text" maxlength="50" required>
        </p>

        <p>
            <label for="description">Description</label><br>
            <textarea id="description" name="description"></textarea>
        </p>

        <button type="submit">Create list</button>
    </form>

    <p>
        <a th:href="@{/lists}">Back to lists</a>
    </p>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>


</body>
</html>
