<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
            href="https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/lists.css}">
</head>
<body>

<header th:replace="~{fragments/navbar :: navbar}"></header>

<main>
    <h1 class="form-header">Create a list</h1>

    <form th:action="@{/lists}" method="post" class="list-form">
        <p>
            <label for="title">Title</label><br>
            <input id="title" name="title" type="text" maxlength="50" required>
        </p>

        <p>
            <label for="description">Description</label><br>
            <textarea id="description" name="description"></textarea>
        </p>

        <button type="submit" class="create-list-button">Create list</button>
    </form>

    <p>
        <a th:href="@{/lists}" class="back-list-button">Back to lists</a>
    </p>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>


</body>
</html>