<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>My Lists</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
            href="https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
            rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/lists.css}">
</head>
<body>

<header th:replace="~{fragments/navbar :: navbar}"></header>

<main>
  <div class="list-header">
    <div>
      <h1>My Lists</h1>
    </div>

    <a th:href="@{/lists/placeholder-list-form}" class="create-list-button">
      Create a new list
    </a>
  </div>

  <div th:if="${lists == null or lists.isEmpty()}">
    <p>You haven't created any lists yet.</p>
  </div>

  <div th:each="list : ${lists}" class="list-container">
    <a th:href="@{/lists/{id}(id=${list.id})}" class="list-link">

      <img src="https://dev.afrocharts.com/images/song_cover.png"
           alt="music-png"
           class="list-image">

      <div class="list-info">
        <h2 th:text="${list.title}">List title</h2>
        <p th:text="${list.description}">List description</p>
      </div>

    </a>
  </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>