PORT=8080

DB_NAME=musicboxd
DB_USERNAME=musicboxd_user
DB_PASSWORD=changeme
CLOUD_SQL_INSTANCE=your-gcp-project:region:instance-name

LASTFM_API_KEY=your-lastfm-api-key

SPOTIFY_CLIENT_ID=your-spotify-client-id
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8080/spotify/callback

TICKETMASTER_API_KEY=your-ticketmaster-api-key
TICKETMASTER_API_BASE_URL=https://app.ticketmaster.com/discovery/v2

AUTH0_ISSUER=https://your-tenant.us.auth0.com/
AUTH0_CLIENT_ID=your-auth0-client-id
AUTH0_CLIENT_SECRET=your-auth0-client-secret