HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### API keys ###
lastfm.api.key="90689ae0ad8b8d8a25ce581a00907867"
spotify.client.id=eab4cf439ed14714b5e7b4735d91515e
spotify.client.secret=a7d1fc0b18354dcaa22db1be602baf7f
